<html lang='en'>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="main-content">   
     {{>header}}
     <h2>Use this site to get your location and weather forecast.</h2>
     <p>This Site uses weatherstack api.</p>
     <img class="portrait" src="/img/Location.png" alt="location"></div>
     {{>footer}}
  </body>
</html>